@charset "UTF-8";
/* header общий */
.container {
  max-width: 1290px;
  margin: 0 auto;
}

.btn {
  display: flex;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #3b82f6;
  font-family: Inter, sans-serif;
}

.btn:hover {
  cursor: pointer;
  background-color: #316dcc;
}

.header-login {
  background: #1e293b;
}
.header-login .login-container {
  display: flex;
  justify-content: flex-end;
}
.header-login__enter {
  display: flex;
  padding: 10px 0;
}
.header-login__enter .login-btn {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.header-login__enter .login-btn svg {
  margin-right: 8px;
  fill: currentColor;
}
.header-login__enter .login-btn:hover {
  cursor: pointer;
  color: rgb(202, 199, 199);
}
.header-login__enter .new-ad-btn {
  padding: 6px 12px;
  margin-left: 24px;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}
.header-login__enter .new-ad-btn span {
  margin-left: 4px;
}

.header-search {
  display: flex;
  padding: 24px 0;
}
.header-search .search-container {
  display: flex;
  height: 36px;
}
.header-search .search-container .header-title {
  width: 284px;
  font-family: Inter, sans-serif;
  font-size: 27px;
  font-style: normal;
  line-height: 36px;
}
.header-search .search-container .category-btn {
  display: flex;
  align-items: center;
  width: 152px;
  padding: 8px 12px;
  margin-left: 24px;
  gap: 8px;
  color: #3b82f6;
  border: 1px solid #3b82f6;
  border-radius: 4px;
  background-color: #fff;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.header-search .search-container .category-btn:hover {
  cursor: pointer;
  background-color: rgb(247, 247, 247);
}
.header-search .search-container .search-input {
  width: 824px;
  padding: 8px;
  margin-left: 12px;
  border-radius: 4px 0px 0px 4px;
  border: 0.5px solid #cbd5e1;
  outline: none;
}
.header-search .search-container .search-btn {
  justify-content: center;
  align-items: center;
  width: 91px;
  padding: 8px 12px;
  gap: 8px;
  border-radius: 0px 4px 4px 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

/* main главной страницы */
.main-container {
  display: flex;
  flex-direction: column;
}
.main-container .main-title {
  padding: 32px 0 24px 0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
}
.main-container .cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-container .cards-section__container:not(:nth-child(4n)) {
  margin-right: 10px;
}
.main-container .cards-section__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.main-container .cards-section__container .card-image {
  display: inline-block;
  overflow: hidden;
}
.main-container .cards-section__container .card-image img {
  transition: 0.5s;
}
.main-container .cards-section__container .card-title {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #3b82f6;
}
.main-container .cards-section__container .card-price {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  color: #1e293b;
}
.main-container .cards-section__container .card-adress {
  color: #64748b;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 20px;
}
.main-container .cards-section__container .card-date {
  color: #64748b;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 20px;
}
.main-container .cards-section__container:hover {
  cursor: pointer;
}
.main-container .cards-section__container:hover img {
  transform: scale(1.2);
}
.main-container .cards-section__container:hover .card-title {
  color: #316dcc;
}

/* main страницы объявления */
.ad-container {
  display: flex;
  flex-direction: column;
}
.ad-container .breadcrumb {
  padding: 10px 0;
  list-style: none;
}
.ad-container .breadcrumb li {
  display: inline;
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.ad-container .breadcrumb a {
  color: #64748b;
  text-decoration: none;
}
.ad-container .breadcrumb a:hover {
  color: #16191d;
  text-decoration: underline;
}
.ad-container .breadcrumb li + li::before {
  padding: 8px;
  color: #64748b;
  content: "·";
}
.ad-container .ad-content {
  display: flex;
  justify-content: space-between;
}
.ad-container .ad-content .left-wrapper {
  max-width: 856px;
  overflow: hidden;
}
.ad-container .ad-content .left-wrapper .ad-title {
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.ad-container .ad-content .left-wrapper .gallery {
  margin-top: 16px;
}
.ad-container .ad-content .left-wrapper .gallery .column {
  padding: 24px 10px 0 0;
  float: left;
}
.ad-container .ad-content .left-wrapper .gallery .column img {
  width: 120px;
  height: 84px;
  opacity: 0.8;
  cursor: pointer;
}
.ad-container .ad-content .left-wrapper .gallery .column img:hover {
  opacity: 1;
}
.ad-container .ad-content .left-wrapper .gallery .column:focus {
  border: 4px solid #3b82f6;
  border-radius: 4px;
}
.ad-container .ad-content .right-wrapper {
  max-width: 416px;
  margin-left: 24px;
}
.ad-container .ad-content .right-wrapper .ad-price {
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.ad-container .ad-content .right-wrapper .show-number {
  justify-content: center;
  align-items: center;
  width: 416px;
  height: 68px;
  margin-top: 16px;
  padding: 12px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  border-radius: 4px;
}
.ad-container .ad-content .right-wrapper .show-number svg {
  margin-right: 12px;
}
.ad-container .ad-content .right-wrapper .ad-adress {
  margin-top: 40px;
}
.ad-container .ad-content .right-wrapper .ad-adress h2 {
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.ad-container .ad-content .right-wrapper .ad-adress p {
  margin-top: 8px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.ad-container .ad-content .right-wrapper .ad-adress a {
  display: flex;
  align-items: center;
  margin-top: 4px;
  color: #3b82f6;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.ad-container .ad-content .right-wrapper .ad-adress a svg {
  margin-left: 8px;
}
.ad-container .ad-content .right-wrapper .ad-description {
  margin-top: 32px;
}
.ad-container .ad-content .right-wrapper .ad-description h2 {
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.ad-container .ad-content .right-wrapper .ad-description p {
  margin-top: 8px;
  color: #1e293b;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1360px) {
  .header-search .search-container {
    justify-content: center;
  }
  .header-search .search-container .header-title {
    width: 190px;
    font-size: 20px;
  }
  .header-search .search-container .search-input {
    width: 500px;
  }
}
@media (max-width: 1100px) {
  .header-search .search-container .search-input {
    width: 500px;
  }
  .ad-container .ad-content .left-wrapper .gallery .column img {
    width: 85px;
    height: 60px;
  }
}
@media (max-width: 992px) {
  .header-search .search-container .search-input {
    width: 320px;
  }
  .header-search .search-container .header-title {
    display: none;
  }
  .header-search .search-container .category-btn {
    margin: 0;
  }
  .main-container .main-title {
    padding: 32px 10px 24px 10px;
  }
  .main-container .cards-section__container:not(:nth-child(4n)) {
    margin-right: 0;
  }
  .ad-container .breadcrumb {
    padding: 10px 16px;
  }
  .ad-container .ad-content {
    flex-direction: column;
    align-items: center;
  }
  .ad-container .ad-content .left-wrapper {
    max-width: 730px;
    padding: 0 20px;
  }
  .ad-container .ad-content .right-wrapper {
    max-width: 730px;
    margin: 24px 16px;
  }
  .ad-container .ad-content .right-wrapper .show-number {
    width: 95%;
  }
}
@media (max-width: 576px) {
  .header-search .search-container .search-btn {
    width: 35px;
    gap: 0;
    text-indent: -9999em;
  }
  .header-search .search-container .search-input {
    width: 150px;
  }
}/*# sourceMappingURL=style.css.map */