.container {
  display: flex;
  max-width: 1290px;
  position: relative;
  margin: 0 auto;
}

.header-login {
  background: #1e293b;
}
.header-login .login-container {
  justify-content: flex-end;
}
.header-login__enter {
  display: flex;
  padding: 10px 0;
}
.header-login__enter .login-btn {
  display: flex;
  align-items: center;
}
.header-login__enter .login-btn p {
  margin-left: 8px;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.header-login__enter .login-btn:hover {
  cursor: pointer;
}
.header-login__enter .login-btn:hover p {
  color: rgb(202, 199, 199);
}
.header-login__enter .new-ad-btn {
  display: flex;
  padding: 6px 12px;
  margin-left: 24px;
  color: #fff;
  gap: 4px;
  border: none;
  border-radius: 4px;
  background-color: #3b82f6;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}
.header-login__enter .new-ad-btn:hover {
  cursor: pointer;
  background-color: #316dcc;
}

.header-search {
  display: flex;
  padding: 24px 0;
}
.header-search .search-container {
  display: flex;
  width: 1290px;
  height: 36px;
}
.header-search .search-container .header-title {
  width: 284px;
  font-family: Inter, sans-serif;
  font-size: 27px;
  font-style: normal;
  line-height: 36px;
}
.header-search .search-container .category-btn {
  display: flex;
  align-items: center;
  width: 152px;
  padding: 8px 12px;
  margin-left: 24px;
  gap: 8px;
  color: #3b82f6;
  border: 1px solid #3b82f6;
  border-radius: 4px;
  background-color: #fff;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.header-search .search-container .category-btn:hover {
  cursor: pointer;
  background-color: rgb(247, 247, 247);
}
.header-search .search-container .search-input {
  width: 824px;
  padding: 8px;
  margin-left: 12px;
  border-radius: 4px 0px 0px 4px;
  border: 0.5px solid #cbd5e1;
  outline: none;
}
.header-search .search-container .search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 91px;
  padding: 8px 12px;
  color: #fff;
  gap: 8px;
  border-radius: 0px 4px 4px 0px;
  border: none;
  background-color: #3b82f6;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.header-search .search-container .search-btn:hover {
  cursor: pointer;
  background-color: #316dcc;
}

.main-section {
  display: flex;
  flex-direction: column;
}
.main-section .main-container .main-title {
  padding: 32px 0 24px 0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
}
.main-section .main-container .cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-section .main-container .cards-section__container:not(:nth-child(4n)) {
  margin-right: 10px;
}
.main-section .main-container .cards-section__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.main-section .main-container .cards-section__container .card-image {
  display: inline-block;
  overflow: hidden;
}
.main-section .main-container .cards-section__container .card-image img {
  transition: 0.5s;
}
.main-section .main-container .cards-section__container .card-title {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #3b82f6;
}
.main-section .main-container .cards-section__container .card-price {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  color: #1e293b;
}
.main-section .main-container .cards-section__container .card-adress {
  color: #64748b;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 20px;
}
.main-section .main-container .cards-section__container .card-date {
  color: #64748b;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 20px;
}
.main-section .main-container .cards-section__container:hover {
  cursor: pointer;
}
.main-section .main-container .cards-section__container:hover img {
  transform: scale(1.2);
}
.main-section .main-container .cards-section__container:hover .card-title {
  color: #316dcc;
}

@media (max-width: 1360px) {
  .header-search .search-container {
    justify-content: center;
  }
  .header-search .search-container .header-title {
    width: 190px;
    font-size: 20px;
  }
  .header-search .search-container .search-input {
    width: 500px;
  }
}
@media (max-width: 1100px) {
  .header-search .search-container .search-input {
    width: 500px;
  }
}
@media (max-width: 992px) {
  .header-search .search-container .header-title {
    display: none;
  }
  .header-search .search-container .category-btn {
    margin: 0;
  }
  .main-section .main-container .main-title {
    padding: 32px 10px 24px 10px;
  }
  .main-section .main-container .cards-section__container:not(:nth-child(4n)) {
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .header-search .search-container .search-input {
    width: 320px;
  }
}
@media (max-width: 576px) {
  .header-search .search-container .search-btn {
    width: 35px;
    gap: 0;
    text-indent: -9999em;
  }
  .header-search .search-container .search-input {
    width: 150px;
  }
}/*# sourceMappingURL=style.css.map */