/* header общий */
.container {
  max-width: 1290px;
  margin: 0 auto;
}

.btn {
  display: flex;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: #3b82f6;
  font-family: Inter, sans-serif;
}

.btn:hover {
  cursor: pointer;
  background-color: #316dcc;
}

.header-login {
  background: #1e293b;

  .login-container {
    display: flex;
    justify-content: flex-end;
  }

  &__enter {
    display: flex;
    padding: 10px 0;

    .login-btn {
      display: flex;
      align-items: center;
      color: #fff;
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;

      svg {
        margin-right: 8px;
        fill: currentColor;
      }
    }

    .login-btn:hover {
      cursor: pointer;
      color: rgb(202, 199, 199);
    }

    .new-ad-btn {
      padding: 6px 12px;
      margin-left: 24px;

      font-size: 14px;
      font-style: normal;
      line-height: 20px;

      span {
        margin-left: 4px;
      }
    }
  }
}

.header-search {
  display: flex;
  padding: 24px 0;

  .search-container {
    display: flex;
    height: 36px;

    .header-title {
      width: 284px;
      font-family: Inter, sans-serif;
      font-size: 27px;
      font-style: normal;
      line-height: 36px;
    }

    .category-btn {
      display: flex;
      align-items: center;
      width: 152px;
      padding: 8px 12px;
      margin-left: 24px;
      gap: 8px;
      color: #3b82f6;
      border: 1px solid #3b82f6;
      border-radius: 4px;
      background-color: #fff;
      font-family: Inter, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }

    .category-btn:hover {
      cursor: pointer;
      background-color: rgb(247, 247, 247);
    }

    .search-input {
      width: 824px;
      padding: 8px;
      margin-left: 12px;
      border-radius: 4px 0px 0px 4px;
      border: 0.5px solid #cbd5e1;
      outline: none;
    }

    .search-btn {
      justify-content: center;
      align-items: center;
      width: 91px;
      padding: 8px 12px;
      gap: 8px;
      border-radius: 0px 4px 4px 0px;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }
  }
}

/* main главной страницы */

.main-container {
  display: flex;
  flex-direction: column;
  .main-title {
    padding: 32px 0 24px 0;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    line-height: 32px;
  }

  .cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__container:not(:nth-child(4n)) {
      margin-right: 10px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;

      .card-image {
        display: inline-block;
        overflow: hidden;

        img {
          transition: 0.5s;
        }
      }

      .card-title {
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
        color: #3b82f6;
      }

      .card-price {
        font-family: Inter, sans-serif;
        font-size: 18px;
        font-style: normal;
        line-height: 24px;
        color: #1e293b;
      }

      .card-adress {
        color: #64748b;
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-style: normal;
        line-height: 20px;
      }

      .card-date {
        color: #64748b;
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-style: normal;
        line-height: 20px;
      }
    }

    &__container:hover {
      cursor: pointer;

      img {
        transform: scale(1.2);
      }

      .card-title {
        color: #316dcc;
      }
    }
  }
}

/* main страницы объявления */

.ad-container {
  display: flex;
  flex-direction: column;

  .breadcrumb {
    padding: 10px 0;
    list-style: none;

    li {
      display: inline;
      font-size: 14px;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    a {
      color: #64748b;
      text-decoration: none;
    }

    a:hover {
      color: #16191d;
      text-decoration: underline;
    }

    li + li::before {
      padding: 8px;
      color: #64748b;
      content: "\00B7";
    }
  }

  .ad-content {
    display: flex;
    justify-content: space-between;

    .left-wrapper {
      max-width: 856px;
      overflow: hidden;
      .ad-title {
        font-family: Inter, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
      }

      .gallery {
        margin-top: 16px;

        .column {
          padding: 24px 10px 0 0;
          float: left;

          img {
            width: 120px;
            height: 84px;
            opacity: 0.8;
            cursor: pointer;
          }

          img:hover {
            opacity: 1;
          }
        }

        .column:focus {
          border: 4px solid #3b82f6;
          border-radius: 4px;
        }
      }
    }

    .right-wrapper {
      max-width: 416px;
      margin-left: 24px;
      .ad-price {
        font-family: Inter, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
      }

      .show-number {
        justify-content: center;
        align-items: center;
        width: 416px;
        height: 68px;
        margin-top: 16px;
        padding: 12px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        border-radius: 4px;

        svg {
          margin-right: 12px;
        }
      }
      .ad-adress {
        margin-top: 40px;
        h2 {
          font-family: Inter, sans-serif;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
        }
        p {
          margin-top: 8px;
          font-family: Inter, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
        a {
          display: flex;
          align-items: center;
          margin-top: 4px;
          color: #3b82f6;
          font-family: Inter, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          text-decoration: none;

          svg {
            margin-left: 8px;
          }
        }
      }
      .ad-description {
        margin-top: 32px;
        h2 {
          font-family: Inter, sans-serif;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
        }
        p {
          margin-top: 8px;
          color: #1e293b;
          font-family: Inter, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
}

@media (max-width: 1360px) {
  .header-search {
    .search-container {
      justify-content: center;
      .header-title {
        width: 190px;
        font-size: 20px;
      }
      .search-input {
        width: 500px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .header-search {
    .search-container {
      .search-input {
        width: 500px;
      }
    }
  }

  .ad-container {
    .ad-content {
      .left-wrapper {
        .gallery {
          .column {
            img {
              width: 85px;
              height: 60px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .header-search {
    .search-container {
      .search-input {
        width: 320px;
      }
      .header-title {
        display: none;
      }

      .category-btn {
        margin: 0;
      }
    }
  }

  .main-container {
    .main-title {
      padding: 32px 10px 24px 10px;
    }

    .cards-section {
      &__container:not(:nth-child(4n)) {
        margin-right: 0;
      }
    }
  }

  .ad-container {
    .breadcrumb {
      padding: 10px 16px;
    }
    .ad-content {
      flex-direction: column;
      align-items: center;

      .left-wrapper {
        max-width: 730px;
        padding: 0 20px;
      }

      .right-wrapper {
        max-width: 730px;
        margin: 24px 16px;

        .show-number {
          width: 95%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .header-search {
    .search-container {
      .search-btn {
        width: 35px;
        gap: 0;
        text-indent: -9999em;
      }

      .search-input {
        width: 150px;
      }
    }
  }
}
